# Copy to .streamlit/secrets.toml and/or use env vars
APP_SECRET_KEY = "Enrich4,./^"
# MySQL DSN: mysql+pymysql://USER:PASS@HOST:PORT/DB
DATABASE_URL = "mysql+pymysql://root:Karthi123@localhost:3306/proposal_db"
LOCAL_BACKUP_DIR = "D:/Business Proposal Project/proposal_app/Backup"
ADMIN_EMAIL = "selva.ram@enrichenergy.com"
